
#parent{position: relative;}
.dark{background: black; top: 96px; left: 96px; position: absolute; height: 314px; width: 414px; z-index: 20;}
.grey{background: grey; top: 100px; left: 100px; position: absolute; height: 300px; width: 400px; z-index: 30;}
#parent img{max-width: 100%; height: auto;}
.login a{color: white}
